#subhead  
  = image_tag('/images/blivet-graphic.png')

  - if data.site.subhead
    %h2#site-title
      = data.site.subhead
      
    %a{href: "https://github.com/dwlehman/blivet"}
      %button.btn.button-primary.btn-lg{type: "button"} Get the Source
