---
title: Development
pageable: true
---


%h2 Source Code

Blivet's source code is hosted on
= succeed '.' do
  %a(href="https://github.com/dwlehman/blivet/") GitHub


%h2 Documentation

Documentation is currently hosted on
= succeed '.' do
  %a(href="http://blivet.readthedocs.org") readthedocs.org

API documentation is available
= succeed '.' do
  %a(href="http://dlehman.fedorapeople.org/blivet-docs/modules.html") here


%h2 Contributing

Pull requests are accepted, as are git-generated patches sent to
anaconda-patches@lists.fedorahosted.org for review.


%h2 Major Planned Features

%ul
  %li System event handling (uevents initially)
  %li Creation of LVM RAID (We can already recognize and use these.)

